@model StandartViewModel

<script type="text/x-kendo-template">
    <div class="container" style="margin: 0px;">
        #= Content.Html #
    </div>
</script>

<script>
    $(function () {
        var $view = $("#@Model.WidgetID");
    });
</script>