@model List<WebUI.Areas.Public.Models.ContentListItemVm>

@if (Model.Any())
{
    <div class="row">
        @{
            foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <figure class="effect-goliath">
                        <img src="/Files/GetImage?id=@(item.ImageId)&width=285&height=420" alt="@item.Desciption" />
                        <figcaption>
                            <h2>@item.Title</h2>

                            <p>@item.Desciption</p>

                            <a href="#">Подробнее</a>
                        </figcaption>
                    </figure>
                </div>
            }
        }
    </div>
}
