@model WebUI.Areas.Public.Models.HomePageViewModel

@{
    ViewBag.Title = "Главная";
}

<style>
    figure {
        max-height: 420px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        @{
            var i = 0;
            foreach (var item in Model.Categories)
            {
                if (i % 3 == 0 && i != 0)
                {
                    @Html.Raw("</div><div class=\"row\">")
                }

                <div class="col-lg-4">
                    <figure class="effect-goliath">
                        <img src="/Files/GetImage?id=@(item.ImageId)&width=320&height=420" alt="@item.Desciption" />
                        <figcaption>
                            <h2>@item.Title</h2>

                            <p>@item.Desciption</p>

                            <a href="#">Подробнее</a>
                        </figcaption>
                    </figure>
                </div>

                i++;
            }
        }
    </div>
</div>