@model WebUI.Areas.Public.Models.HomePageViewModel

@{
    ViewBag.Title = "Главная";
}

<style>
    figure {
        background-color: @Model.ThemeColor
    }
</style>

<div class="container-fluid" id="home-page-content">
    <div class="row row-list">
        @{Html.RenderAction("ContentItems", "Home", new { model = Model.ContentItems });}
    </div>
</div>

@section scripts {
    @*<script src="~/Areas/Public/vendor/waypoints/jquery.waypoints.js"></script>
    <script>
        $(document).ready(function() {
            var waypoint = new Waypoint({
                element: document.getElementById('home-page-content'),
                handler: function(direction) {
                    //notify(this.id + ' hit');
                    console.log('Handler');
                }
            });
        });
    </script>*@

<script type="text/javascript">
    var page = 2;
    var NoMoreData = false;
    var inProgress = false;

    $(window).scroll(function () {
        if ($(window).scrollTop() >= $(document).height() - $(window).height() - $('#main-wrapper').height() && !NoMoreData && !inProgress) {

            inProgress = true;
            //$("#loadingDiv").show();

            $.post("@Url.Action("InfinateScrollGetItems", "Home")", { "page": page },
                    function (data) {

                        page = page + 1;
                        NoMoreData = data.NoMoreData;
                        $("#home-page-content > .row").append(data.HTMLString);
                        //$("#loadingDiv").hide();
                        inProgress = false;
                    });
        }
    });
</script>
}
