.enum-DegreeRegulatoryImpact:before {
    margin-right: 5px;
    font-family: 'Glyphicons Halflings';
    vertical-align: middle;
}

.enum-DegreeRegulatoryImpact[data-val='Undefined']:before {
    content: "\E090";
    color: #d9534f;
}

.enum-DegreeRegulatoryImpact[data-val='High']:before {
    content: "\e113";
    color: #d9534f;
}

.enum-DegreeRegulatoryImpact[data-val='Normal']:before {
    content: "\e006";
    color: #5cb85c;
}

.enum-DegreeRegulatoryImpact[data-val='Low']:before {
    content: "\e114";
    color: #5bc0de;
}


.enum-NpaAnswerStatus:before {
    margin-right: 5px;
    font-family: 'Glyphicons Halflings';
    vertical-align: middle;
}

.enum-NpaAnswerStatus[data-val='Hidden']:before {
    content: "\E083";
    color: #6C9BB8;
}

.enum-NpaAnswerStatus[data-val='InProgress']:before {
    content: "\E105";
    color: #428bca;
}

.enum-NpaAnswerStatus[data-val='Confirm']:before {
    content: "\e125";
    color: #5cb85c;
}

.enum-NpaAnswerStatus[data-val='ConfirmPartially']:before {
    content: "\e127";
    color: #f0ad4e;
}

.enum-NpaAnswerStatus[data-val='NotConfirm']:before {
    content: "\e126";
    color: #d9534f;
}

.enum-NpaResolution:before {
    margin-right: 5px;
    font-family: 'Glyphicons Halflings';
    vertical-align: middle;
}

.enum-NpaResolution[data-val='None']:before {
    content: "\E090";
    color: #d9534f;
}

.enum-NpaResolution[data-val='Confirm']:before {
    content: "\e125";
    color: #5cb85c;
}

.enum-NpaResolution[data-val='NotConfirm']:before {
    content: "\e126";
    color: #d9534f;
}


.enum-NpaStage:before {
    margin-right: 5px;
    font-family: 'Glyphicons Regular';
    vertical-align: middle;
}

.enum-NpaStage[data-val='Undefined']:before {
    content: "\E200";
    color: #d9534f;
}

.enum-NpaStage[data-val='Notification']:before {
    content: "\E196";
    color: #5bc0de;
}

.enum-NpaStage[data-val='Text']:before {
    content: "\E088";
    color: #428bca;
}

.enum-NpaStage[data-val='Procedure']:before {
    content: "\E043";
    color: #f0ad4e;
}

.enum-NpaStage[data-val='Finalzation']:before {
    content: "\E338";
    color: #428bca;
}

.enum-NpaStage[data-val='Complete']:before {
    content: "\E153";
    color: #5cb85c;
}

.enum-NpaStatus:before {
    margin-right: 5px;
    font-family: 'Glyphicons Regular';
    vertical-align: middle;
}

.enum-NpaStatus[data-val='Undefined']:before {
    content: "\E236";
    color: #428bca;
}

.enum-NpaStatus[data-val='PreDiscussion']:before {
    content: "\E151";
    color: #f0ad4e;
}

.enum-NpaStatus[data-val='Discussion']:before {
    content: "\E245";
    color: #5bc0de;
}

.enum-NpaStatus[data-val='EndDiscussion']:before {
    content: "\E245";
    color: #5cb85c;
}

.enum-NpaStatus[data-val='Complete']:before {
    content: "\E338";
    color: #5cb85c;
}

.enum-NpaStatus[data-val='Rejected']:before {
    content: "\E345";
    color: #d9534f;
}

.enum-ProcedureResult:before {
    margin-right: 5px;
    font-family: 'Glyphicons Halflings';
    vertical-align: middle;
}

.enum-ProcedureResult[data-val='Undefined']:before {
    content: "\E090";
    color: transparent;
}

.enum-ProcedureResult[data-val='Positive']:before {
    content: "\e125";
    color: #5cb85c;
}

.enum-ProcedureResult[data-val='Negative']:before {
    content: "\E126";
    color: #d9534f;
}

.ico-npa-answer {
    padding-right: 5px;
}

.ico-npa-answer-animated {
    -webkit-animation: ring 3s 1s ease-in-out infinite;
    -webkit-transform-origin: 50% 1px;
    -moz-animation: ring 3s 1s ease-in-out infinite;
    -moz-transform-origin: 50% 1px;
    animation: ring 3s 1s ease-in-out infinite;
    transform-origin: 50% 1px;
}

/* NPA Passport */

.common-form.npa > .tab-content {
    top: 120px;
}

.common-form.npa .base-tabs-wrapper {
    top: 75px;
}

.common-form.npa .passport-wrapper {
    position: absolute;
    top: 0;
    bottom: 48px;
    left: 15px;
    right: 15px;
}

.common-form .passport-panel {
    margin-left: 9px;
}

.common-form.npa .passport-panel .panel-heading {
    cursor: pointer;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.common-form.npa .passport-panel:not(.passport-panel-open) .panel-heading {
    height: 38px;
}

.common-form.npa .passport-panel .panel-heading h4 {
    display: inline-block;
    margin-left: 37px;
    margin-top: 13px;
    width: 95%;
}

.common-form.npa .passport-panel:not(.passport-panel-open) .panel-heading h4 {
    white-space: nowrap;
    overflow: hidden;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
}


.common-form.npa .passport-panel .h-arrow {
    border: 1px solid;
    -ms-border-radius: 20px;
    border-radius: 20px;
    margin-right: 5px;
    padding: 5px;
    position: absolute;
    top: 18px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.common-form.npa .passport-panel.passport-panel-open .h-arrow {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.common-form.npa .passport-panel .panel-body {
    overflow-y: auto;
}

@media (max-width: 768px) {
    .common-form.npa .passport-panel .panel-body .text-right {
        text-align: left !important;
    }

    .common-form.npa .passport-panel .panel-body label {
        margin: 0;
    }

    .common-form.npa .passport-panel .panel-body .row {
        margin-bottom: 10px;
    }
}


/* Summary Report */

/*.summary-report table {
    width: 100%;
}

.summary-report td {
    vertical-align: middle;
    height: 40px;
}

.summary-report p {
    margin: 8px 6px;
}

.summary-report textarea {
    min-height: 72px;
    height: 100%;
    width: 100%;
    margin: 0;
    resize: vertical;
}

.summary-report th {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    border: 1px solid black;
    background-color: rgb(117, 129, 148);
    color: white;
}

.summary-report .row-full {
    text-align: center;
    background-color: rgb(226, 238, 249);
    font-weight: bold;
}

.summary-report .col-left, .summary-report .col-right {
    width: 50%;
}

.summary-report .col-left-1, .summary-report .col-left-2, .summary-report .col-right-1, .summary-report .col-right-2 {
    width: 25%;
}


.summary-report .table-wrapper {
    position: absolute;
    top: 0;
    bottom: 60px;
    left: 0;
    right: 0;
    overflow-y: auto;
    border-bottom: 1px #ddd solid;
    padding: 15px;
}

.summary-report .footer {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

    .summary-report .footer a {
        min-width: 100px;
    }*/

/* Support */

.enum-SupportQAType:before {
    margin-right: 5px;
    font-family: 'Glyphicons Regular';
    vertical-align: middle;
}

.enum-SupportQAType[data-val='System']:before {
    content: "\e138";
    color: #6f5499;
}

.enum-SupportQAType[data-val='Methodic']:before {
    content: "\e352";
    color: #76e0ff;
}

.enum-SupportQAType[data-val='Proposal']:before {
    content: "\e065";
    color: #5cb85c;
}

.enum-SupportQAType[data-val='Error']:before {
    content: "\e361";
    color: #d9534f;
}

.enum-SupportQAType[data-val='Bitch']:before {
    content: "\E345";
    color: #f0ad4e;
}

.enum-SupportQAType[data-val='Change']:before {
    content: "\E230";
    color: #7d90ae;
}


.enum-SupportQAStatus:before {
    margin-right: 5px;
    font-family: 'Glyphicons Regular';
    vertical-align: middle;
}

.enum-SupportQAStatus[data-val='Created']:before {
    content: "\E191";
    color: #76e0ff;
}

.enum-SupportQAStatus[data-val='Answered']:before {
    content: "\E194";
    color: #5dd95d;
}

.enum-SupportQAStatus[data-val='Ignored']:before {
    content: "\E193";
    color: #d9534f;
}


/* Npa Answers */

.answers-modal .tabs-wrapper {
    position: absolute;
    top: 0;
    bottom: 60px;
    left: 0;
    right: 0;
    overflow-y: auto;
    padding: 15px;
    border-bottom: 1px transparent solid;
    outline: 1px #ddd solid;
}

    .answers-modal .tabs-wrapper.one-tab ul.k-tabstrip-items {
        display: none;
    }

.answers-modal .panel-group {
    margin-bottom: 0;
}

.answer-modal .k-content {
    background-color: transparent !important;
}

.answers-modal .k-tabstrip-items li:not(.k-first) {
    background-color: #758194;
    border-bottom: 2px solid #758194;
}

    .answers-modal .k-tabstrip-items li:not(.k-first):not(.k-state-active):hover {
        background-color: #7d90ae;
    }

.answers-modal .k-tabstrip-items li.k-state-active {
    border-bottom-color: #00b0ff !important;
}

.answers-modal .footer {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

    .answers-modal .footer a {
        min-width: 100px;
    }

.answers-modal .row div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.answers-modal .collapsing {
    -webkit-transition: none;
    transition: none;
}

.question-wrap.noanswers .header-link .h-arrow {
    display: none;
}

.question {
    position: relative;
    cursor: pointer;
}

    .question:hover {
        background: #E8EFF2;
    }

    .question h4 {
        margin-top: 5px;
        margin-left: 37px;
    }

    .question span.h-arrow {
        float: left;
        border: 1px solid;
        -ms-border-radius: 20px;
        border-radius: 20px;
        margin-right: 5px;
        padding: 5px;
        -webkit-transition: transform 0.3s ease;
        -moz-transition: transform 0.3s ease;
        -ms-transition: transform 0.3s ease;
        -o-transition: transform 0.3s ease;
        transition: transform 0.3s ease;
    }

    .question :not(.collapsed) > span.h-arrow {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

    .question .badge {
        margin-right: 2px;
        background-color: #5cb85c !important;
    }

    .question .unprocessed {
        margin-right: 4px;
        padding: 1px;
        color: #d9534f;
        font-size: 16px;
        -webkit-animation: ring 4s 6s ease-in-out infinite;
        -moz-animation: ring 4s 6s ease-in-out infinite;
        -ms-animation: ring 4s 6s ease-in-out infinite;
        -o-animation: ring 4s 6s ease-in-out infinite;
        animation: ring 4s 6s ease-in-out infinite;
    }

    .question .question-attach {
        margin-left: 38px;
        display: table;
        color: black;
    }

        .question .question-attach:hover {
            font-weight: bold;
        }

.answers-wrap .list-group {
    margin-bottom: 0;
}

.answers-wrap .list-group-item {
    padding: 0;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.85);
}

.answer {
    position: relative;
    padding: 10px 15px;
}

.answer-content {
    margin-left: 3.5em;
}

    .answer-content.editable .answer-message {
        margin-right: 100px;
    }

.answer-icon {
    position: absolute;
    top: 10px;
    font-size: 3em;
    float: left;
}

.answer-body {
    position: relative;
}

    .answer-body .answer-message {
        border-left: 4px solid;
        padding-left: 6px;
        height: 100%;
        min-height: 36px;
        max-height: 350px;
        overflow-y: auto;
    }

    .answer-body .answer-actions {
        position: absolute;
        top: 0;
        right: 0;
    }


.answer-header {
    font-size: 0.9em;
    font-weight: bold;
    cursor: default;
}

    .answer-header div {
        margin-right: 4px;
    }

.answer-footer {
    font-weight: bold;
}

.header-link, .header-link:hover, .header-link:focus, .header-link:active {
    color: #3276b1;
    text-decoration: none;
}

.answer .btn-action, .question .btn-action {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 90px;
}

.answer-message-file.has-file a, .question-attach {
    text-decoration: none !important;
}

    .answer-message-file.has-file a:before, .question-attach:before {
        font-family: 'Glyphicons Halflings';
        content: "\E142";
        vertical-align: middle;
        margin-right: 3px;
    }

.answer-comment {
    padding: 6px 0 0 6px;
}

    .answer-comment.nocomment {
        display: none;
    }

.answer-comment-header {
    font-size: 0.9em;
    font-weight: bold;
}

.answer-comment-body {
    background-color: #EEF7FF;
    padding: 4px 4px 4px 6px;
    border: 1px solid #DDEDFC;
    font-size: 0.95em;
    line-height: 1.25;
    color: #18466E;
}

.answer .answer-footer .status {
    font-size: 15px;
}


.new-answer-body, .processing-body {
    /*position: absolute;
    top: 15px;
    right: 15px;
    bottom: 60px;
    left: 15px;*/
}

    .new-answer-body .new-answer-answer {
        margin-bottom: 4px;
    }

    .new-answer-body textarea {
        height: 100%;
        width: 100%;
        -moz-resize: vertical;
        -ms-resize: vertical;
        -o-resize: vertical;
        resize: vertical;
        min-height: 250px;
    }

.new-answer-footer, .processing-footer {
    /*position: absolute;
    bottom: 15px;
    right: 15px;*/
}

.modal-processing .processing-body div {
    margin-bottom: 8px;
}

.modal-processing .processing-body .processing-question {
    font-weight: bold;
    border-left: 4px solid #428BCA;
}

.modal-processing .processing-body .processing-answer {
    max-height: 300px;
    overflow-y: auto;
    border-left: 4px solid #f0ad4e;
}

.modal-processing .processing-body .processing-edit-area {
    padding: 10px 10px 0;
}

.modal-processing .processing-body .processing-comment {
    padding-right: 6px;
}

    .modal-processing .processing-body .processing-comment textarea {
        padding: 3px;
        width: 100%;
        min-height: 75px;
    }

.answer[status='InProgress'] { background-color: #fff8dc; }

.answer[status='InProgress'] .answer-icon, .answer[status='InProgress'] .answer-footer .status { color: #428bca; }
.answer[status='InProgress'] .answer-body .answer-message { border-color: #428bca; }

.answer[status='Confirm'] .answer-icon, .answer[status='Confirm'] .answer-footer .status { color: #5cb85c; }
.answer[status='Confirm'] .answer-body .answer-message { border-color: #5cb85c; }

.answer[status='ConfirmPartially'] .answer-icon, .answer[status='ConfirmPartially'] .answer-footer .status { color: #f0ad4e; }
.answer[status='ConfirmPartially'] .answer-body .answer-message { border-color: #f0ad4e; }

.answer[status='NotConfirm'] .answer-icon, .answer[status='NotConfirm'] .answer-footer .status { color: #d9534f; }
.answer[status='NotConfirm'] .answer-body .answer-message { border-color: #d9534f; }

.answer[status='Hidden'] .answer-icon, .answer[status='Hidden'] .answer-footer .status { color: #6C9BB8; }
.answer[status='Hidden'] .answer-body .answer-message { border-color: #6C9BB8; }

.rating-toolbar .voted {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .6);
    -ms-box-shadow: inset 0 0 5px rgba(0, 0, 0, .6);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .6);
    border-color: rgb(90, 90, 90);
    color: yellow;
}

@media (max-width: 768px) {
    .answers-modal .one-tab {
        padding: 0;
    }
    .question-body {
        padding: 0 5px;
        margin-top: 5px;
    }
    .question .h-arrow {
        padding: 4px !important;
        margin-top: 4px !important;

    }
    .question-text {
        margin-left: 30px !important;
        font-size: 16px !important;
        margin-top: 0 !important;
    }
    .question .actions {
        padding: 0;
    }
    .answer {
        padding: 5px 10px;
    }
    .answer .answer-icon {
        display: none;
    }
    .answer .answer-content {
        margin-left: 0;
    }
    .answer .btn-action, .question .btn-action {
        font-size: 0;
        width: auto;
        padding: 5px 10px;
    }
    .answer .btn-action:before {
        font-family: 'Glyphicons Halflings';
        content: "\E105";
        font-size: 16px;
    }
    .question .btn-action:before {
        font-family: 'Glyphicons Regular';
        content: "\E222";
        font-size: 16px;
    }
    .answer-content.editable .answer-message {
        margin-right: 40px;
    }
    .answers-modal .tabs-wrapper {
        bottom: 50px;
    }
    .answers-modal .footer {
        bottom: 8px;
        right: 0;
    }
    .modal-processing .processing-footer {
        position: absolute;
        bottom: 15px;
        right: 8px;
    }
}