.timeline > hr {
    border: 0;
    border-top: 1px dashed #eee;
}

[aria-valuenow='0'] > span {
    margin-left: 5px;
    color: #777;
}

.timeline-body > .panel-group:last-child {
    margin-bottom: 0;
}

.timeline-panel .tsk-info:last-child {
    margin-bottom: 0;
}

/*.timeline-panel:hover {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.5) !important;
    -moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.5) !important;
    box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.5) !important;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}*/

.timeline-panel .tsk-info .progress {
    margin-bottom: 0;
}

.timeline-badge-date {
    color: #fff;
    width: 100px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -50px;
    background-color: #428bca;
    z-index: 100;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    border-radius: .25em;
    font-weight: bold;
}

.timeline-top-image {
    position: absolute;
    left: 0;
    top: 0;
}

.timeline-bottom-image {
    position: absolute;
    right: 0;
    bottom: 0;
}

.timeline-window {
    position: relative;
}

.performers img {
    cursor: pointer;
}

    .performers img:not(.many-perf) {
        border: 5px solid rgba(221, 221, 221, 0.49);
    }

    .performers img:hover {
        border: 2px solid rgba(221, 221, 221, 0.49);
    }

.active-timeline-element {
    border-width: 7px !important;
}

.terminated-timeline-element {
    border-width: 7px !important;
}

.performed-timeline-element {
    border-width: 7px !important;
}

.many-perf {
    margin-bottom: 5px;
}

.popover {
    z-index: 99999;
}

.btn-white {
    color: #fff !important;
    width: 100%;
}

.flow-timeline * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 40px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            background: #fff;
            border-radius: 5px;
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel.panel-inverted {
                float: left;
            }

                .timeline > li.timeline-inverted > .timeline-panel.panel-inverted:before {
                    right: -15px;
                    left: auto;
                    border-top: 15px solid transparent;
                    border-left: 15px solid #ccc;
                    border-right: 0 solid #ccc;
                    border-bottom: 15px solid transparent;
                }

                .timeline > li.timeline-inverted > .timeline-panel.panel-inverted:after {
                    right: -14px;
                    left: auto;
                    border-top: 14px solid transparent;
                    border-left: 14px solid #fff;
                    border-right: 0 solid #fff;
                    border-bottom: 14px solid transparent;
                }

        .timeline > li > .timeline-panel.panel-inverted {
            float: right;
        }

            .timeline > li > .timeline-panel.panel-inverted:before {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

            .timeline > li > .timeline-panel.panel-inverted:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before, .timeline-badge-date {
        left: 40px;
    }


    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }

    .timeline > li > .timeline-panel.panel-inverted {
        float: right;
        margin-top: 15px;
    }

    .timeline > li.timeline-inverted > .timeline-panel.panel-inverted {
        float: right;
    }

    .timeline > li > .timeline-panel.panel-inverted:before,
    .timeline > li > .timeline-panel.panel-inverted:after {
        content: none;
    }
}

.task-group {
    padding: 0;
}

    .task-group .panel-group {
        margin: 0;
        border-left: 0;
        border-right: 0;
    }

    .task-group > .panel-group > .panel {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
    }


    .task-group > .panel-group > .panel {
        border-top: 0;
    }

        .task-group > .panel-group > .panel > .panel-heading {
            border-radius: 0;
        }

    .task-group img[data-userid] {
        border: 1px solid #ddd;
    }

    .task-group a {
        color: #555;
    }

[data-userid] {
    cursor: pointer;
}

    [data-userid]:hover {
        text-decoration: underline;
    }

.tsk-status {
    font-size: 15px;
    line-height: 37px;
}

.tsk-collect-complite {
    background-color: #5cb85c;
}

.green-icon {
    color: #5cb85c;
}

.perform-arrow {
    text-align: center;
    font-size: 24px;
    color: #428bca;
    display: block;
}

.created-objs {
    margin-bottom: 0;
}

    .created-objs .panel-body {
        padding: 0;
    }

    .created-objs a[data-mnemonic] {
        border: none;
    }

.timeline-current-stages {
    list-style-type: none;
}

 .timeline-current-stage {
     border: 5px solid;
     width: 550px;
     float: left;
     padding: 50px;
     margin-right: 50px;
     margin-bottom: 50px;
 }
 /*.current-stage {
     border: 5px solid;
     width: 570px;
     float: left;
     padding: 15px;
     margin-right: 15px;
     margin-bottom: 15px;
 }*/

 .timeline-current-stage-header {
     
 }