.inline-block {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  *zoom: 1;
}
.inline-block-top {
  display: inline-block;
  *display: inline;
  vertical-align: top;
  *zoom: 1;
}
.row-inline {
  font-size: 0;
}
.row-inline > [class*="col-"] {
  float: none;
  font-size: 21px;
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  *zoom: 1;
}
.color-grayscale {
  filter: gray;
  /* IE6-9 */
  filter: grayscale(1);
  /* Firefox 35+ */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
}
html,
body {
  font-size: 21px;
  font-family: Arial, Helvetica, sans-serif !important;
}
input.k-textbox {
  box-shadow: none;
  border-radius: 0;
}
input.k-textbox:hover,
input.k-textbox:focus {
  box-shadow: none;
}
input.k-textbox::-webkit-input-placeholder {
  opacity: 1;
}
input.k-textbox::-moz-placeholder {
  opacity: 1;
}
input.k-textbox:-moz-placeholder {
  opacity: 1;
}
input.k-textbox:-ms-input-placeholder {
  opacity: 1;
}
.k-multiselect.k-header,
.k-multiselect.k-header.k-state-focused {
  box-shadow: none;
}
input.k-input::-webkit-input-placeholder {
  opacity: 1;
}
input.k-input::-moz-placeholder {
  opacity: 1;
}
input.k-input:-moz-placeholder {
  opacity: 1;
}
input.k-input:-ms-input-placeholder {
  opacity: 1;
}
.k-group {
  box-shadow: none;
}
.enum-NpaStage {
  line-height: 1;
  font-style: normal;
}
#modal {
  background-image: none;
}
.k-loading-image {
  background: url(/Content/Images/special-ajax-loader.gif) center no-repeat;
}
img {
  filter: gray;
  /* IE6-9 */
  filter: grayscale(1);
  /* Firefox 35+ */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
}
.special-style-3 {
  background: #9dd1ff;
  color: #063462;
  font-size: 1.375em;
}
.special-style-3 a {
  color: #063462;
}
.special-style-3 input.k-input {
  color: #063462;
}
.special-style-3 input.k-input::-webkit-input-placeholder {
  color: #063462;
}
.special-style-3 input.k-input::-moz-placeholder {
  color: #063462;
}
.special-style-3 input.k-input:-moz-placeholder {
  color: #063462;
}
.special-style-3 input.k-input:-ms-input-placeholder {
  color: #063462;
}
.special-style-3 input.k-textbox {
  background: #9dd1ff;
  color: #063462;
  border-color: #063462;
}
.special-style-3 input.k-textbox::-webkit-input-placeholder {
  color: #063462;
}
.special-style-3 input.k-textbox::-moz-placeholder {
  color: #063462;
}
.special-style-3 input.k-textbox:-moz-placeholder {
  color: #063462;
}
.special-style-3 input.k-textbox:-ms-input-placeholder {
  color: #063462;
}
.special-style-3 .k-multiselect.k-header {
  border-radius: 0;
  border-color: #063462;
}
.special-style-3 .k-multiselect-wrap {
  background: #9dd1ff;
}
.special-style-3 .k-multiselect-wrap > ul > .k-button {
  border-radius: 0;
  background: #063462;
  color: #9dd1ff;
  border: none;
}
.special-style-3 .k-multiselect-wrap > ul > .k-button > .k-delete {
  display: inline-block;
  font-size: 14px;
  overflow: auto;
  width: 16px;
  height: auto;
  line-height: 1;
  background: none;
  opacity: 1;
  color: #063462;
}
.special-style-3 .k-multiselect-wrap > ul > .k-button > .k-delete:before {
  position: absolute;
  display: block;
  content: "x";
  color: #9dd1ff;
  width: 16px;
  text-align: center;
}
.special-style-3 .k-group {
  border-color: #063462;
  background: #9dd1ff;
  color: #063462;
}
.special-style-3 .k-list > .k-state-hover {
  background: #063462;
  color: #9dd1ff;
  border-color: #063462;
}
.special-style-3 .k-icon {
  opacity: 1;
}
.special-style-3 .k-picker-wrap {
  border-radius: 0;
  border-color: #063462;
  box-shadow: none;
}
.special-style-3 .k-picker-wrap .k-input {
  background: #9dd1ff;
}
.special-style-3 .k-picker-wrap .k-select {
  border: none;
}
.special-style-3 .k-picker-wrap .k-select {
  background: #9dd1ff;
}
.special-style-3 .btn {
  border-radius: 0;
}
.special-style-3 .btn-default,
.special-style-3 .btn-default.disabled {
  opacity: 1;
  color: #063462;
  background: #9dd1ff;
  border-color: #063462;
  box-shadow: none;
}
.special-style-3 .btn-primary,
.special-style-3 .btn-primary.disabled,
.special-style-3 .btn-success,
.special-style-3 .btn-success.disabled,
.special-style-3 .btn-danger,
.special-style-3 .btn-danger.disabled,
.special-style-3 .btn-warning,
.special-style-3 .btn-warning.disabled,
.special-style-3 .btn-info,
.special-style-3 .btn-info.disabled {
  opacity: 1;
  color: #9dd1ff;
  background: #063462;
  border-color: #063462;
  box-shadow: none;
}
.special-style-3 .alert-info,
.special-style-3 .alert-warning {
  color: #063462;
  border-color: #063462;
  border-radius: 0;
  background: #9dd1ff;
}
.special-style-3 .modal-processing .processing-body .processing-question,
.special-style-3 .modal-processing .processing-body .processing-answer {
  border-color: #063462;
}
.special-style-3 textarea,
.special-style-3 textarea.k-textbox {
  background: #9dd1ff;
  border: 1px solid #063462;
  box-shadow: none;
  border-radius: 0;
}
.special-style-3 .common-tab {
  border-color: #063462;
}
.special-style-3 .k-dropdown {
  border-color: #063462;
}
.special-style-3 .k-dropdown .k-dropdown-wrap {
  background: #9dd1ff;
  border-color: #063462;
}
.special-style-3 .k-dropdown .k-dropdown-wrap.k-state-hover,
.special-style-3 .k-dropdown .k-dropdown-wrap.k-state-active,
.special-style-3 .k-dropdown .k-dropdown-wrap.k-state-focused {
  box-shadow: none;
}
.special-style-3 .k-dropdown .k-dropdown-wrap .k-input {
  color: #063462;
}
.special-style-3 .k-widget {
  border-color: #063462;
  background: #9dd1ff;
  color: #063462;
  border-radius: 0;
}
.special-style-3 .d-label {
  color: #063462;
}
.special-style-3 .d-label > span {
  color: #063462 !important;
}
.special-style-3 .dashboard-widget .k-listview .tile {
  -moz-animation: none;
  -o-animation: none;
  -webkit-animation: none;
  animation: none;
  border-color: #063462;
  background: #9dd1ff;
  box-shadow: none;
  height: auto;
}
.special-style-3 .dashboard-widget .k-listview .tile .npa-stats,
.special-style-3 .dashboard-widget .k-listview .tile .info-row {
  background: #9dd1ff;
  color: #063462;
}
.special-style-3 .dashboard-widget .k-listview .tile .npa-stats {
  border-bottom: 1px solid #063462;
}
.special-style-3 .dashboard-widget .k-listview .tile .info-row {
  border-top: 1px solid #063462;
}
.special-style-3 .dashboard-widget .k-listview .tile .info-row:after {
  display: none;
}
.special-style-3 .dashboard-widget .k-listview .tile .progress-wrap {
  border-top: 1px solid #063462;
}
.special-style-3 .dashboard-widget .k-listview .tile .progress-wrap > .npa-progress {
  border-radius: 0;
  background: #9dd1ff;
}
.special-style-3 .dashboard-widget .k-listview .tile .progress-wrap > .npa-progress > .progress-bar {
  background-image: none;
  background: #063462;
}
.special-style-3 .k-pager-wrap .k-link {
  border-color: #9dd1ff;
  color: #063462;
  opacity: 1;
}
.special-style-3 .k-pager-wrap > .k-pager-nav {
  display: none;
}
.special-style-3 .k-pager-wrap .k-state-selected {
  background: #063462;
  color: #9dd1ff;
  border-color: #9dd1ff;
}
.special-style-3 .k-pager-info {
  color: #063462;
}
.special-style-3 .k-window {
  border-width: 1px;
}
.special-style-3 .k-window .k-header {
  background: #9dd1ff;
  color: #063462;
  border-color: #063462;
}
.special-style-3 .k-window .k-window-content {
  background: #9dd1ff;
}
.special-style-3 .k-window .k-window-content.wnd-loading-content {
  background: url(/Content/Images/special-ajax-loader.gif) center no-repeat;
}
.special-style-3 .k-window .blazon {
  background: none;
}
.special-style-3 .k-toolbar .k-button-group .k-button {
  background: #9dd1ff;
  border-radius: 0;
  border-color: #063462;
}
.special-style-3 .k-toolbar .k-button-group .k-button.k-state-disabled {
  display: none;
}
.special-style-3 .k-toolbar .k-button-group .k-button .k-sprite.btntoolbar {
  color: #063462;
  height: auto;
}
.special-style-3 .k-edit-form-container {
  width: auto;
}
.special-style-3 .k-window-actions .k-window-action {
  opacity: 1;
  border-radius: 0;
}
.special-style-3 .k-window-actions .k-window-action + .k-window-action {
  margin-left: 5px;
}
.special-style-3 .k-window-actions .k-window-action {
  border-color: #063462;
  background: #063462;
}
.special-style-3 .k-window-actions .k-window-action:hover,
.special-style-3 .k-window-actions .k-window-action:focus {
  background: #9dd1ff;
}
.special-style-3 .h-tl-col-1,
.special-style-3 .h-tl-col-2,
.special-style-3 .h-tl-col-3,
.special-style-3 .h-tl-col-4,
.special-style-3 .h-tl-col-5,
.special-style-3 .h-tl-col-6 {
  width: 100%;
  display: block;
}
.special-style-3 .h-line {
  background: #063462;
}
.special-style-3 .h-line::after {
  visibility: hidden;
}
.special-style-3 .h-line .t-icon {
  color: #063462 !important;
}
.special-style-3 .h-line .t-icon::after {
  background: #9dd1ff;
}
.special-style-3 .h-line .t-icon::before {
  color: #063462 !important;
}
.special-style-3 .h-tl .card-wrap-title {
  color: #063462;
}
.special-style-3 .h-tl .card-wrap {
  -moz-animation: none;
  -o-animation: none;
  -webkit-animation: none;
  animation: none;
}
.special-style-3 .h-tl .card-wrap .stage-status {
  -moz-animation: none;
  -o-animation: none;
  -webkit-animation: none;
  animation: none;
  color: #063462;
}
.special-style-3 .h-tl .card {
  -moz-animation: none;
  -o-animation: none;
  -webkit-animation: none;
  animation: none;
  background: #9dd1ff;
  color: #063462;
  border-color: #063462;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #063462;
}
.special-style-3 .h-tl .card::before {
  display: none;
}
.special-style-3 .h-tl .card .info-block {
  background: #9dd1ff;
  border-color: #063462;
}
.special-style-3 .h-tl .card .info-block__line-end {
  background: none;
}
.special-style-3 .h-tl .card .btns-group .glyphicon {
  color: #063462 !important;
}
.special-style-3 .h-tl .card .file-link .file-icon {
  float: left;
  margin: 0 10px;
}
.special-style-3 .h-tl .card .progress {
  background: #9dd1ff;
  border-bottom: 1px solid #063462;
}
.special-style-3 .h-tl .card .progress .progress-bar-striped {
  background-image: none;
  background: #063462;
}
.special-style-3 .h-tl .card .h-divider span {
  color: #9dd1ff;
  background: #063462;
}
.special-style-3 .h-tl .h-divider::before {
  background: #063462;
}
.special-style-3 .h-tl .current-stage .card {
  border-top: 5px solid #063462;
  border-bottom: 5px solid #063462;
}
.special-style-3 .h-tl .v-line {
  -moz-animation: none;
  -o-animation: none;
  -webkit-animation: none;
  animation: none;
  background: #063462;
}
.special-style-3 .h-tl .v-line .t-icon {
  color: #063462 !important;
  background: #9dd1ff;
}
.special-style-3 .h-tl .v-line .t-icon::before {
  color: #063462 !important;
}
.special-style-3 .h-tl .v-line::after {
  border-top-color: #063462;
}
.special-style-3 .header-link,
.special-style-3 .header-link:hover,
.special-style-3 .header-link:focus {
  color: #063462;
}
.special-style-3 .k-tabstrip .k-content.k-state-active {
  color: #063462;
}
.special-style-3 .answer .answer-icon {
  color: #063462 !important;
}
.special-style-3 .answer .answer-footer .status {
  color: #063462 !important;
}
.special-style-3 .answer .answer-body .answer-message {
  border-color: #063462 !important;
}
.special-style-3 .answer .btn-action {
  width: auto;
}
.special-style-3 .enum-NpaAnswerStatus::before {
  color: #063462 !important;
}
.special-style-3 .k-list .k-item.k-state-selected,
.special-style-3 .k-list .k-item.k-state-focused,
.special-style-3 .k-list .k-item.k-state-hover {
  color: #9dd1ff;
  background: #063462;
}
.special-style-3 .k-list .k-item.k-state-selected .enum-NpaAnswerStatus::before,
.special-style-3 .k-list .k-item.k-state-focused .enum-NpaAnswerStatus::before,
.special-style-3 .k-list .k-item.k-state-hover .enum-NpaAnswerStatus::before {
  color: #9dd1ff !important;
}
.special-style-3 .panel-title {
  font-size: inherit;
}
.special-style-3 .panel.panel-default {
  border-color: #063462;
  border-radius: 0;
}
.special-style-3 .panel .panel-heading {
  background: #9dd1ff;
  border-radius: 0;
}
.special-style-3 .panel .panel-heading .badge {
  color: #9dd1ff;
  background: #063462 !important;
  font-size: inherit;
}
.special-style-3 .panel .panel-collapse .list-group {
  border-color: #063462;
}
.special-style-3 .panel .panel-collapse .list-group .list-group-item,
.special-style-3 .panel .panel-collapse .list-group .list-group-item:last-child {
  background: #9dd1ff;
  border-radius: 0;
}
.special-style-3 .answers-modal .tabs-wrapper {
  border-bottom: 1px solid #063462;
  margin-bottom: 15px;
}
.special-style-3 .k-content {
  color: #063462;
}
.special-style-3 .k-content.k-state-active {
  background: #9dd1ff;
  border-color: #063462;
}
.special-style-3 #modal .enum-DegreeRegulatoryImpact::before {
  color: #063462;
}
.special-style-3 #modal dd:not(:last-child) {
  border-bottom: 1px solid #063462;
}
.special-style-3 .pagination > li > a {
  border-radius: 0;
  color: #063462;
  background: #9dd1ff;
  border-color: #063462;
}
.special-style-3 .pagination > li.active > a {
  color: #9dd1ff;
  background: #063462;
  border-color: #063462;
}
.special-style-3 .c-row-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #063462;
}
.special-style-3 .text-muted {
  color: #063462;
}
.special-style-2 {
  background: #000000;
  color: #ffffff;
  font-size: 1.375em;
}
.special-style-2 a {
  color: #ffffff;
}
.special-style-2 input.k-input {
  color: #ffffff;
}
.special-style-2 input.k-input::-webkit-input-placeholder {
  color: #ffffff;
}
.special-style-2 input.k-input::-moz-placeholder {
  color: #ffffff;
}
.special-style-2 input.k-input:-moz-placeholder {
  color: #ffffff;
}
.special-style-2 input.k-input:-ms-input-placeholder {
  color: #ffffff;
}
.special-style-2 input.k-textbox {
  background: #000000;
  color: #ffffff;
  border-color: #ffffff;
}
.special-style-2 input.k-textbox::-webkit-input-placeholder {
  color: #ffffff;
}
.special-style-2 input.k-textbox::-moz-placeholder {
  color: #ffffff;
}
.special-style-2 input.k-textbox:-moz-placeholder {
  color: #ffffff;
}
.special-style-2 input.k-textbox:-ms-input-placeholder {
  color: #ffffff;
}
.special-style-2 .k-multiselect.k-header {
  border-radius: 0;
  border-color: #ffffff;
}
.special-style-2 .k-multiselect-wrap {
  background: #000000;
}
.special-style-2 .k-multiselect-wrap > ul > .k-button {
  border-radius: 0;
  background: #ffffff;
  color: #000000;
  border: none;
}
.special-style-2 .k-multiselect-wrap > ul > .k-button > .k-delete {
  display: inline-block;
  font-size: 14px;
  overflow: auto;
  width: 16px;
  height: auto;
  line-height: 1;
  background: none;
  opacity: 1;
  color: #ffffff;
}
.special-style-2 .k-multiselect-wrap > ul > .k-button > .k-delete:before {
  position: absolute;
  display: block;
  content: "x";
  color: #000000;
  width: 16px;
  text-align: center;
}
.special-style-2 .k-group {
  border-color: #ffffff;
  background: #000000;
  color: #ffffff;
}
.special-style-2 .k-list > .k-state-hover {
  background: #ffffff;
  color: #000000;
  border-color: #ffffff;
}
.special-style-2 .k-icon {
  opacity: 1;
}
.special-style-2 .k-picker-wrap {
  border-radius: 0;
  border-color: #ffffff;
  box-shadow: none;
}
.special-style-2 .k-picker-wrap .k-input {
  background: #000000;
}
.special-style-2 .k-picker-wrap .k-select {
  border: none;
}
.special-style-2 .k-picker-wrap .k-select {
  background: #ffffff;
}
.special-style-2 .btn {
  border-radius: 0;
}
.special-style-2 .btn-default,
.special-style-2 .btn-default.disabled {
  opacity: 1;
  color: #ffffff;
  background: #000000;
  border-color: #ffffff;
  box-shadow: none;
}
.special-style-2 .btn-primary,
.special-style-2 .btn-primary.disabled,
.special-style-2 .btn-success,
.special-style-2 .btn-success.disabled,
.special-style-2 .btn-danger,
.special-style-2 .btn-danger.disabled,
.special-style-2 .btn-warning,
.special-style-2 .btn-warning.disabled,
.special-style-2 .btn-info,
.special-style-2 .btn-info.disabled {
  opacity: 1;
  color: #000000;
  background: #ffffff;
  border-color: #ffffff;
  box-shadow: none;
}
.special-style-2 .alert-info,
.special-style-2 .alert-warning {
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 0;
  background: #000000;
}
.special-style-2 .modal-processing .processing-body .processing-question,
.special-style-2 .modal-processing .processing-body .processing-answer {
  border-color: #ffffff;
}
.special-style-2 textarea,
.special-style-2 textarea.k-textbox {
  background: #000000;
  border: 1px solid #ffffff;
  box-shadow: none;
  border-radius: 0;
}
.special-style-2 .common-tab {
  border-color: #ffffff;
}
.special-style-2 .k-dropdown {
  border-color: #ffffff;
}
.special-style-2 .k-dropdown .k-dropdown-wrap {
  background: #000000;
  border-color: #ffffff;
}
.special-style-2 .k-dropdown .k-dropdown-wrap.k-state-hover,
.special-style-2 .k-dropdown .k-dropdown-wrap.k-state-active,
.special-style-2 .k-dropdown .k-dropdown-wrap.k-state-focused {
  box-shadow: none;
}
.special-style-2 .k-dropdown .k-dropdown-wrap .k-input {
  color: #ffffff;
}
.special-style-2 .k-dropdown .k-dropdown-wrap .k-select {
  background: #ffffff;
}
.special-style-2 .k-widget {
  border-color: #ffffff;
  background: #000000;
  color: #ffffff;
  border-radius: 0;
}
.special-style-2 .d-label {
  color: #ffffff;
}
.special-style-2 .d-label > span {
  color: #ffffff !important;
}
.special-style-2 .dashboard-widget .k-listview .tile {
  -moz-animation: none;
  -o-animation: none;
  -webkit-animation: none;
  animation: none;
  border-color: #ffffff;
  background: #000000;
  box-shadow: none;
  height: auto;
}
.special-style-2 .dashboard-widget .k-listview .tile .npa-stats,
.special-style-2 .dashboard-widget .k-listview .tile .info-row {
  background: #000000;
  color: #ffffff;
}
.special-style-2 .dashboard-widget .k-listview .tile .npa-stats {
  border-bottom: 1px solid #ffffff;
}
.special-style-2 .dashboard-widget .k-listview .tile .info-row {
  border-top: 1px solid #ffffff;
}
.special-style-2 .dashboard-widget .k-listview .tile .info-row:after {
  display: none;
}
.special-style-2 .dashboard-widget .k-listview .tile .progress-wrap {
  border-top: 1px solid #ffffff;
}
.special-style-2 .dashboard-widget .k-listview .tile .progress-wrap > .npa-progress {
  border-radius: 0;
  background: #000000;
}
.special-style-2 .dashboard-widget .k-listview .tile .progress-wrap > .npa-progress > .progress-bar {
  background-image: none;
  background: #ffffff;
}
.special-style-2 .k-pager-wrap .k-link {
  border-color: #000000;
  color: #ffffff;
  opacity: 1;
}
.special-style-2 .k-pager-wrap > .k-pager-nav {
  display: none;
}
.special-style-2 .k-pager-wrap .k-state-selected {
  background: #ffffff;
  color: #000000;
  border-color: #000000;
}
.special-style-2 .k-pager-info {
  color: #ffffff;
}
.special-style-2 .k-window {
  border-width: 1px;
}
.special-style-2 .k-window .k-header {
  background: #000000;
  color: #ffffff;
  border-color: #ffffff;
}
.special-style-2 .k-window .k-window-content {
  background: #000000;
}
.special-style-2 .k-window .k-window-content.wnd-loading-content {
  background: url(/Content/Images/special-ajax-loader.gif) center no-repeat;
}
.special-style-2 .k-window .blazon {
  background: none;
}
.special-style-2 .k-toolbar .k-button-group .k-button {
  background: #000000;
  border-radius: 0;
  border-color: #ffffff;
}
.special-style-2 .k-toolbar .k-button-group .k-button.k-state-disabled {
  display: none;
}
.special-style-2 .k-toolbar .k-button-group .k-button .k-sprite.btntoolbar {
  color: #ffffff;
  height: auto;
}
.special-style-2 .k-edit-form-container {
  width: auto;
}
.special-style-2 .k-window-actions .k-window-action {
  opacity: 1;
  border-radius: 0;
}
.special-style-2 .k-window-actions .k-window-action + .k-window-action {
  margin-left: 5px;
}
.special-style-2 .k-window-actions .k-window-action {
  border-color: #000000;
  background: #000000;
}
.special-style-2 .k-window-actions .k-window-action:hover,
.special-style-2 .k-window-actions .k-window-action:focus {
  background: #ffffff;
}
.special-style-2 .h-tl-col-1,
.special-style-2 .h-tl-col-2,
.special-style-2 .h-tl-col-3,
.special-style-2 .h-tl-col-4,
.special-style-2 .h-tl-col-5,
.special-style-2 .h-tl-col-6 {
  width: 100%;
  display: block;
}
.special-style-2 .h-line {
  background: #ffffff;
}
.special-style-2 .h-line::after {
  visibility: hidden;
}
.special-style-2 .h-line .t-icon {
  color: #ffffff !important;
}
.special-style-2 .h-line .t-icon::after {
  background: #000000;
}
.special-style-2 .h-line .t-icon::before {
  color: #ffffff !important;
}
.special-style-2 .h-tl .card-wrap-title {
  color: #ffffff;
}
.special-style-2 .h-tl .card-wrap {
  -moz-animation: none;
  -o-animation: none;
  -webkit-animation: none;
  animation: none;
}
.special-style-2 .h-tl .card-wrap .stage-status {
  -moz-animation: none;
  -o-animation: none;
  -webkit-animation: none;
  animation: none;
  color: #ffffff;
}
.special-style-2 .h-tl .card {
  -moz-animation: none;
  -o-animation: none;
  -webkit-animation: none;
  animation: none;
  background: #000000;
  color: #ffffff;
  border-color: #ffffff;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #ffffff;
}
.special-style-2 .h-tl .card::before {
  display: none;
}
.special-style-2 .h-tl .card .info-block {
  background: #000000;
  border-color: #ffffff;
}
.special-style-2 .h-tl .card .info-block__line-end {
  background: none;
}
.special-style-2 .h-tl .card .btns-group .glyphicon {
  color: #ffffff !important;
}
.special-style-2 .h-tl .card .file-link .file-icon {
  float: left;
  margin: 0 10px;
}
.special-style-2 .h-tl .card .progress {
  background: #000000;
  border-bottom: 1px solid #ffffff;
}
.special-style-2 .h-tl .card .progress .progress-bar-striped {
  background-image: none;
  background: #ffffff;
}
.special-style-2 .h-tl .card .h-divider span {
  color: #000000;
  background: #ffffff;
}
.special-style-2 .h-tl .h-divider::before {
  background: #ffffff;
}
.special-style-2 .h-tl .current-stage .card {
  border-top: 5px solid #ffffff;
  border-bottom: 5px solid #ffffff;
}
.special-style-2 .h-tl .v-line {
  -moz-animation: none;
  -o-animation: none;
  -webkit-animation: none;
  animation: none;
  background: #ffffff;
}
.special-style-2 .h-tl .v-line .t-icon {
  color: #ffffff !important;
  background: #000000;
}
.special-style-2 .h-tl .v-line .t-icon::before {
  color: #ffffff !important;
}
.special-style-2 .h-tl .v-line::after {
  border-top-color: #ffffff;
}
.special-style-2 .header-link,
.special-style-2 .header-link:hover,
.special-style-2 .header-link:focus {
  color: #ffffff;
}
.special-style-2 .k-tabstrip .k-content.k-state-active {
  color: #ffffff;
}
.special-style-2 .answer .answer-icon {
  color: #ffffff !important;
}
.special-style-2 .answer .answer-footer .status {
  color: #ffffff !important;
}
.special-style-2 .answer .answer-body .answer-message {
  border-color: #ffffff !important;
}
.special-style-2 .answer .btn-action {
  width: auto;
}
.special-style-2 .enum-NpaAnswerStatus::before {
  color: #ffffff !important;
}
.special-style-2 .k-list .k-item.k-state-selected,
.special-style-2 .k-list .k-item.k-state-focused,
.special-style-2 .k-list .k-item.k-state-hover {
  color: #000000;
  background: #ffffff;
}
.special-style-2 .k-list .k-item.k-state-selected .enum-NpaAnswerStatus::before,
.special-style-2 .k-list .k-item.k-state-focused .enum-NpaAnswerStatus::before,
.special-style-2 .k-list .k-item.k-state-hover .enum-NpaAnswerStatus::before {
  color: #000000 !important;
}
.special-style-2 .panel-title {
  font-size: inherit;
}
.special-style-2 .panel.panel-default {
  border-color: #ffffff;
  border-radius: 0;
}
.special-style-2 .panel .panel-heading {
  background: #000000;
  border-radius: 0;
}
.special-style-2 .panel .panel-heading .badge {
  color: #000000;
  background: #ffffff !important;
  font-size: inherit;
}
.special-style-2 .panel .panel-collapse .list-group {
  border-color: #ffffff;
}
.special-style-2 .panel .panel-collapse .list-group .list-group-item,
.special-style-2 .panel .panel-collapse .list-group .list-group-item:last-child {
  background: #000000;
  border-radius: 0;
}
.special-style-2 .answers-modal .tabs-wrapper {
  border-bottom: 1px solid #ffffff;
  margin-bottom: 15px;
}
.special-style-2 .k-content {
  color: #ffffff;
}
.special-style-2 .k-content.k-state-active {
  background: #000000;
  border-color: #ffffff;
}
.special-style-2 #modal .enum-DegreeRegulatoryImpact::before {
  color: #ffffff;
}
.special-style-2 #modal dd:not(:last-child) {
  border-bottom: 1px solid #ffffff;
}
.special-style-2 .pagination > li > a {
  border-radius: 0;
  color: #ffffff;
  background: #000000;
  border-color: #ffffff;
}
.special-style-2 .pagination > li.active > a {
  color: #000000;
  background: #ffffff;
  border-color: #ffffff;
}
.special-style-2 .c-row-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ffffff;
}
.special-style-2 .text-muted {
  color: #ffffff;
}
.special-style-1 {
  background: #ffffff;
  color: #000000;
  font-size: 1.375em;
}
.special-style-1 a {
  color: #000000;
}
.special-style-1 input.k-input {
  color: #000000;
}
.special-style-1 input.k-input::-webkit-input-placeholder {
  color: #000000;
}
.special-style-1 input.k-input::-moz-placeholder {
  color: #000000;
}
.special-style-1 input.k-input:-moz-placeholder {
  color: #000000;
}
.special-style-1 input.k-input:-ms-input-placeholder {
  color: #000000;
}
.special-style-1 input.k-textbox {
  background: #ffffff;
  color: #000000;
  border-color: #000000;
}
.special-style-1 input.k-textbox::-webkit-input-placeholder {
  color: #000000;
}
.special-style-1 input.k-textbox::-moz-placeholder {
  color: #000000;
}
.special-style-1 input.k-textbox:-moz-placeholder {
  color: #000000;
}
.special-style-1 input.k-textbox:-ms-input-placeholder {
  color: #000000;
}
.special-style-1 .k-multiselect.k-header {
  border-radius: 0;
  border-color: #000000;
}
.special-style-1 .k-multiselect-wrap {
  background: #ffffff;
}
.special-style-1 .k-multiselect-wrap > ul > .k-button {
  border-radius: 0;
  background: #000000;
  color: #ffffff;
  border: none;
}
.special-style-1 .k-multiselect-wrap > ul > .k-button > .k-delete {
  display: inline-block;
  font-size: 14px;
  overflow: auto;
  width: 16px;
  height: auto;
  line-height: 1;
  background: none;
  opacity: 1;
  color: #000000;
}
.special-style-1 .k-multiselect-wrap > ul > .k-button > .k-delete:before {
  position: absolute;
  display: block;
  content: "x";
  color: #ffffff;
  width: 16px;
  text-align: center;
}
.special-style-1 .k-group {
  border-color: #000000;
  background: #ffffff;
  color: #000000;
}
.special-style-1 .k-list > .k-state-hover {
  background: #000000;
  color: #ffffff;
  border-color: #000000;
}
.special-style-1 .k-icon {
  opacity: 1;
}
.special-style-1 .k-picker-wrap {
  border-radius: 0;
  border-color: #000000;
  box-shadow: none;
}
.special-style-1 .k-picker-wrap .k-input {
  background: #ffffff;
}
.special-style-1 .k-picker-wrap .k-select {
  border: none;
}
.special-style-1 .k-picker-wrap .k-select {
  background: #ffffff;
}
.special-style-1 .btn {
  border-radius: 0;
}
.special-style-1 .btn-default,
.special-style-1 .btn-default.disabled {
  opacity: 1;
  color: #000000;
  background: #ffffff;
  border-color: #000000;
  box-shadow: none;
}
.special-style-1 .btn-primary,
.special-style-1 .btn-primary.disabled,
.special-style-1 .btn-success,
.special-style-1 .btn-success.disabled,
.special-style-1 .btn-danger,
.special-style-1 .btn-danger.disabled,
.special-style-1 .btn-warning,
.special-style-1 .btn-warning.disabled,
.special-style-1 .btn-info,
.special-style-1 .btn-info.disabled {
  opacity: 1;
  color: #ffffff;
  background: #000000;
  border-color: #000000;
  box-shadow: none;
}
.special-style-1 .alert-info,
.special-style-1 .alert-warning {
  color: #000000;
  border-color: #000000;
  border-radius: 0;
  background: #ffffff;
}
.special-style-1 .modal-processing .processing-body .processing-question,
.special-style-1 .modal-processing .processing-body .processing-answer {
  border-color: #000000;
}
.special-style-1 textarea,
.special-style-1 textarea.k-textbox {
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: none;
  border-radius: 0;
}
.special-style-1 .common-tab {
  border-color: #000000;
}
.special-style-1 .k-dropdown {
  border-color: #000000;
}
.special-style-1 .k-dropdown .k-dropdown-wrap {
  background: #ffffff;
  border-color: #000000;
}
.special-style-1 .k-dropdown .k-dropdown-wrap.k-state-hover,
.special-style-1 .k-dropdown .k-dropdown-wrap.k-state-active,
.special-style-1 .k-dropdown .k-dropdown-wrap.k-state-focused {
  box-shadow: none;
}
.special-style-1 .k-dropdown .k-dropdown-wrap .k-input {
  color: #000000;
}
.special-style-1 .k-widget {
  border-color: #000000;
  background: #ffffff;
  color: #000000;
  border-radius: 0;
}
.special-style-1 .d-label {
  color: #000000;
}
.special-style-1 .d-label > span {
  color: #000000 !important;
}
.special-style-1 .dashboard-widget .k-listview .tile {
  -moz-animation: none;
  -o-animation: none;
  -webkit-animation: none;
  animation: none;
  border-color: #000000;
  background: #ffffff;
  box-shadow: none;
  height: auto;
}
.special-style-1 .dashboard-widget .k-listview .tile .npa-stats,
.special-style-1 .dashboard-widget .k-listview .tile .info-row {
  background: #ffffff;
  color: #000000;
}
.special-style-1 .dashboard-widget .k-listview .tile .npa-stats {
  border-bottom: 1px solid #000000;
}
.special-style-1 .dashboard-widget .k-listview .tile .info-row {
  border-top: 1px solid #000000;
}
.special-style-1 .dashboard-widget .k-listview .tile .info-row:after {
  display: none;
}
.special-style-1 .dashboard-widget .k-listview .tile .progress-wrap {
  border-top: 1px solid #000000;
}
.special-style-1 .dashboard-widget .k-listview .tile .progress-wrap > .npa-progress {
  border-radius: 0;
  background: #ffffff;
}
.special-style-1 .dashboard-widget .k-listview .tile .progress-wrap > .npa-progress > .progress-bar {
  background-image: none;
  background: #000000;
}
.special-style-1 .k-pager-wrap .k-link {
  border-color: #ffffff;
  color: #000000;
  opacity: 1;
}
.special-style-1 .k-pager-wrap > .k-pager-nav {
  display: none;
}
.special-style-1 .k-pager-wrap .k-state-selected {
  background: #000000;
  color: #ffffff;
  border-color: #ffffff;
}
.special-style-1 .k-pager-info {
  color: #000000;
}
.special-style-1 .k-window {
  border-width: 1px;
}
.special-style-1 .k-window .k-header {
  background: #ffffff;
  color: #000000;
  border-color: #000000;
}
.special-style-1 .k-window .k-window-content {
  background: #ffffff;
}
.special-style-1 .k-window .k-window-content.wnd-loading-content {
  background: url(/Content/Images/special-ajax-loader.gif) center no-repeat;
}
.special-style-1 .k-window .blazon {
  background: none;
}
.special-style-1 .k-toolbar .k-button-group .k-button {
  background: #ffffff;
  border-radius: 0;
  border-color: #000000;
}
.special-style-1 .k-toolbar .k-button-group .k-button.k-state-disabled {
  display: none;
}
.special-style-1 .k-toolbar .k-button-group .k-button .k-sprite.btntoolbar {
  color: #000000;
  height: auto;
}
.special-style-1 .k-edit-form-container {
  width: auto;
}
.special-style-1 .k-window-actions .k-window-action {
  opacity: 1;
  border-radius: 0;
}
.special-style-1 .k-window-actions .k-window-action + .k-window-action {
  margin-left: 5px;
}
.special-style-1 .k-window-actions .k-window-action {
  border-color: #000000;
  background: #000000;
}
.special-style-1 .k-window-actions .k-window-action:hover,
.special-style-1 .k-window-actions .k-window-action:focus {
  background: #ffffff;
}
.special-style-1 .h-tl-col-1,
.special-style-1 .h-tl-col-2,
.special-style-1 .h-tl-col-3,
.special-style-1 .h-tl-col-4,
.special-style-1 .h-tl-col-5,
.special-style-1 .h-tl-col-6 {
  width: 100%;
  display: block;
}
.special-style-1 .h-line {
  background: #000000;
}
.special-style-1 .h-line::after {
  visibility: hidden;
}
.special-style-1 .h-line .t-icon {
  color: #000000 !important;
}
.special-style-1 .h-line .t-icon::after {
  background: #ffffff;
}
.special-style-1 .h-line .t-icon::before {
  color: #000000 !important;
}
.special-style-1 .h-tl .card-wrap-title {
  color: #000000;
}
.special-style-1 .h-tl .card-wrap {
  -moz-animation: none;
  -o-animation: none;
  -webkit-animation: none;
  animation: none;
}
.special-style-1 .h-tl .card-wrap .stage-status {
  -moz-animation: none;
  -o-animation: none;
  -webkit-animation: none;
  animation: none;
  color: #000000;
}
.special-style-1 .h-tl .card {
  -moz-animation: none;
  -o-animation: none;
  -webkit-animation: none;
  animation: none;
  background: #ffffff;
  color: #000000;
  border-color: #000000;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #000000;
}
.special-style-1 .h-tl .card::before {
  display: none;
}
.special-style-1 .h-tl .card .info-block {
  background: #ffffff;
  border-color: #000000;
}
.special-style-1 .h-tl .card .info-block__line-end {
  background: none;
}
.special-style-1 .h-tl .card .btns-group .glyphicon {
  color: #000000 !important;
}
.special-style-1 .h-tl .card .file-link .file-icon {
  float: left;
  margin: 0 10px;
}
.special-style-1 .h-tl .card .progress {
  background: #ffffff;
  border-bottom: 1px solid #000000;
}
.special-style-1 .h-tl .card .progress .progress-bar-striped {
  background-image: none;
  background: #000000;
}
.special-style-1 .h-tl .card .h-divider span {
  color: #ffffff;
  background: #000000;
}
.special-style-1 .h-tl .h-divider::before {
  background: #000000;
}
.special-style-1 .h-tl .current-stage .card {
  border-top: 5px solid #000000;
  border-bottom: 5px solid #000000;
}
.special-style-1 .h-tl .v-line {
  -moz-animation: none;
  -o-animation: none;
  -webkit-animation: none;
  animation: none;
  background: #000000;
}
.special-style-1 .h-tl .v-line .t-icon {
  color: #000000 !important;
  background: #ffffff;
}
.special-style-1 .h-tl .v-line .t-icon::before {
  color: #000000 !important;
}
.special-style-1 .h-tl .v-line::after {
  border-top-color: #000000;
}
.special-style-1 .header-link,
.special-style-1 .header-link:hover,
.special-style-1 .header-link:focus {
  color: #000000;
}
.special-style-1 .k-tabstrip .k-content.k-state-active {
  color: #000000;
}
.special-style-1 .answer .answer-icon {
  color: #000000 !important;
}
.special-style-1 .answer .answer-footer .status {
  color: #000000 !important;
}
.special-style-1 .answer .answer-body .answer-message {
  border-color: #000000 !important;
}
.special-style-1 .answer .btn-action {
  width: auto;
}
.special-style-1 .enum-NpaAnswerStatus::before {
  color: #000000 !important;
}
.special-style-1 .k-list .k-item.k-state-selected,
.special-style-1 .k-list .k-item.k-state-focused,
.special-style-1 .k-list .k-item.k-state-hover {
  color: #ffffff;
  background: #000000;
}
.special-style-1 .k-list .k-item.k-state-selected .enum-NpaAnswerStatus::before,
.special-style-1 .k-list .k-item.k-state-focused .enum-NpaAnswerStatus::before,
.special-style-1 .k-list .k-item.k-state-hover .enum-NpaAnswerStatus::before {
  color: #ffffff !important;
}
.special-style-1 .panel-title {
  font-size: inherit;
}
.special-style-1 .panel.panel-default {
  border-color: #000000;
  border-radius: 0;
}
.special-style-1 .panel .panel-heading {
  background: #ffffff;
  border-radius: 0;
}
.special-style-1 .panel .panel-heading .badge {
  color: #ffffff;
  background: #000000 !important;
  font-size: inherit;
}
.special-style-1 .panel .panel-collapse .list-group {
  border-color: #000000;
}
.special-style-1 .panel .panel-collapse .list-group .list-group-item,
.special-style-1 .panel .panel-collapse .list-group .list-group-item:last-child {
  background: #ffffff;
  border-radius: 0;
}
.special-style-1 .answers-modal .tabs-wrapper {
  border-bottom: 1px solid #000000;
  margin-bottom: 15px;
}
.special-style-1 .k-content {
  color: #000000;
}
.special-style-1 .k-content.k-state-active {
  background: #ffffff;
  border-color: #000000;
}
.special-style-1 #modal .enum-DegreeRegulatoryImpact::before {
  color: #000000;
}
.special-style-1 #modal dd:not(:last-child) {
  border-bottom: 1px solid #000000;
}
.special-style-1 .pagination > li > a {
  border-radius: 0;
  color: #000000;
  background: #ffffff;
  border-color: #000000;
}
.special-style-1 .pagination > li.active > a {
  color: #ffffff;
  background: #000000;
  border-color: #000000;
}
.special-style-1 .c-row-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000000;
}
.special-style-1 .text-muted {
  color: #000000;
}
body.special-size-3 {
  font-size: 28px;
}
body.special-size-3 .btn {
  font-size: 28px;
}
body.special-size-3 .dashboard-widget .k-listview .tile {
  font-size: 28px;
}
body.special-size-3 .k-toolbar .k-button-group .k-button .k-sprite.btntoolbar {
  font-size: 28px;
}
body.special-size-3 .h-tl .card {
  font-size: 28px;
}
body.special-size-3 .h-tl .card .info-block {
  font-size: 28px;
}
body.special-size-2 {
  font-size: 21px;
}
body.special-size-2 .btn {
  font-size: 21px;
}
body.special-size-2 .dashboard-widget .k-listview .tile {
  font-size: 21px;
}
body.special-size-2 .k-toolbar .k-button-group .k-button .k-sprite.btntoolbar {
  font-size: 21px;
}
body.special-size-2 .h-tl .card {
  font-size: 21px;
}
body.special-size-2 .h-tl .card .info-block {
  font-size: 21px;
}
body.special-size-1 {
  font-size: 18px;
}
body.special-size-1 .btn {
  font-size: 18px;
}
body.special-size-1 .dashboard-widget .k-listview .tile {
  font-size: 18px;
}
body.special-size-1 .k-toolbar .k-button-group .k-button .k-sprite.btntoolbar {
  font-size: 18px;
}
body.special-size-1 .h-tl .card {
  font-size: 18px;
}
body.special-size-1 .h-tl .card .info-block {
  font-size: 18px;
}
.special-menu {
  font-size: 17px;
  margin-bottom: 20px;
  padding: 15px 0 5px 0;
}
.special-menu__item {
  display: inline-block;
  padding: 0 6px;
  border-radius: 3px;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  vertical-align: middle;
}
.special-menu__item.active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5) inset;
  background: rgba(0, 0, 0, 0.1);
}
.special-menu__item_size_1 {
  font-size: 18px;
}
.special-menu__item_size_2 {
  font-size: 21px;
}
.special-menu__item_size_3 {
  font-size: 28px;
}
a.special-menu__item_style_1 {
  background: #ffffff;
  color: #000000;
}
a.special-menu__item_style_2 {
  background: #000000;
  color: #ffffff;
}
a.special-menu__item_style_3 {
  background: #9dd1ff;
  color: #063462;
}
.special-style-1 .special-menu {
  background: #d6d6d6;
}
.special-style-2 .special-menu {
  background: #2a2a2a;
}
.special-style-3 .special-menu {
  background: #83bae7;
}
.navbar-default {
  border-radius: 0;
  border-width: 1px 0 2px 0;
  border-style: solid;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  text-decoration: underline;
}
.special-style-1 .navbar-default {
  background-color: #ffffff;
  border-color: #000000;
}
.special-style-1 .navbar-default .navbar-nav > li > a {
  color: #000000;
}
.special-style-1 .navbar-default .navbar-toggle {
  border-color: #000000;
}
.special-style-1 .navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
.special-style-1 .navbar-default .navbar-toggle:hover,
.special-style-1 .navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.special-style-1 .navbar-default .navbar-collapse {
  border-color: #000000;
}
.special-style-2 .navbar-default {
  background-color: #000000;
  border-color: #ffffff;
}
.special-style-2 .navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.special-style-2 .navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.special-style-2 .navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.special-style-2 .navbar-default .navbar-toggle:hover,
.special-style-2 .navbar-default .navbar-toggle:focus {
  background-color: #000000;
}
.special-style-2 .navbar-default .navbar-collapse {
  border-color: #ffffff;
}
.special-style-3 .navbar-default {
  background-color: #9dd1ff;
  border-color: #063462;
}
.special-style-3 .navbar-default .navbar-nav > li > a {
  color: #063462;
}
.special-style-3 .navbar-default .navbar-toggle {
  border-color: #063462;
}
.special-style-3 .navbar-default .navbar-toggle .icon-bar {
  background-color: #063462;
}
.special-style-3 .navbar-default .navbar-toggle:hover,
.special-style-3 .navbar-default .navbar-toggle:focus {
  background-color: #9dd1ff;
}
.special-style-3 .navbar-default .navbar-collapse {
  border-color: #063462;
}
.h-root-logo {
  margin-bottom: 10px;
  padding: 5px;
}
.special-style-1 .h-root-logo {
  background: #000000;
}
@media (min-width: 768px) {
  .h-root-logo {
    float: left;
    margin-bottom: 0;
  }
  .h-root-title,
  .h-root-desc {
    padding-left: 120px;
  }
}
/*# sourceMappingURL=style.css.map */