body {
    /*background: #f9f6fa;*/
    font-family: avantgardegothicc-b, "Helvetica Neue",Helvetica,Arial,sans-serif;
}



    body.fixed-footer {
        padding-bottom: 120px;
    }

        body.fixed-footer .footer {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
        }

h1 {
    text-align: center;
}

.row {
    text-align: center;
}

.row-list {
    font-size: 0;
}

    .row > * {
        text-align: left;
    }

.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
}

.col-list {
    padding: 0;
}

.hide-mobile {
    display: block;
}

.show-mobile {
    display: none;
}


@media (max-width: 768px) {
    .hide-mobile {
        display: none;
    }

    .show-mobile {
        display: block;
    }

    .container > .navbar-header {
        margin-bottom: 5px;
    }
}


.navbar-collapse {
    position: relative;
}

.navbar {
    margin-bottom: 70px;
}

.hr-navigationbar {
    background-image: none;
    background-color: transparent;
    border: none;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    margin-top: 80px;
}

@media (max-width: 768px) {
    .navbar {
        margin-bottom: 20px;
    }
    
    .hr-navigationbar {
        margin-top: 20px;
    }
}

    .hr-navigationbar .navbar-brand {
        display: block;
        overflow: hidden;
        height: auto;
        width: auto;
        margin: 5px;
        padding: 0;
    }

@media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-top: 15px;
        margin-left: 5px;
    }

    .navbar-collapse.collapse {
        margin-right: auto;
        margin-left: auto;
        width: 650px;
    }
}

@media (min-width: 768px) {
    .navbar.hr-navigationbar > .container .navbar-brand,
    .navbar.hr-navigationbar > .container-fluid .navbar-brand {
    }
}

.hr-navigationbar .navbar-nav {
    margin-top: 25px;
    margin-bottom: 35px;
    margin-left: 20px;
}

.navbar-default.hr-navigationbar .navbar-nav > li > a {
    text-transform: uppercase;
}

    .navbar-default.hr-navigationbar .navbar-nav > li > a.active,
    .navbar-default.hr-navigationbar .navbar-nav > li > a:focus,
    .navbar-default.hr-navigationbar .navbar-nav > li > a:hover {
        color: #ffc200;
    }

.navbar-default.hr-navigationbar .navbar-nav > .active > a,
.navbar-default.hr-navigationbar .navbar-nav > .open > a {
    background-image: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    color: #ffc200;
}

.dropdown-menu {
    z-index: 99999999999;
}

.dropdown-menu-horizontal {
    position: absolute;
    top: 70px;
    left: 270px;
    display: block;
    visibility: hidden;
    border-top: 1px solid #ffc200;
}

.dropdown-menu-hidden,
.dropdown-menu-horizontal-hidden {
    display: none !important;
}

.dropdown-menu-horizontal ul {
    list-style: none;
    display: inline-block;
    margin: 0 -10px;
    padding: 10px 0;
}

    .dropdown-menu-horizontal ul li {
        display: inline-block;
        padding: 0 15px;
    }

        .dropdown-menu-horizontal ul li a {
            color: #505050;
        }

            .dropdown-menu-horizontal ul li a.active,
            .dropdown-menu-horizontal ul li a:hover {
                text-decoration: none;
                color: #ffc200;
            }

@media (min-width: 630px) {
    .col-lg-2 {
        width: 50%;
    }
}


@media (min-width: 835px) {
    .col-lg-2 {
        width: 50%;
    }
}

@media (min-width: 1085px) {
    .col-lg-2 {
        width: 33.33333333%;
    }
}

@media (min-width: 1350px) {
    .col-lg-2 {
        width: 25%;
    }
}

@media (min-width: 1600px) {
    .col-lg-2 {
        width: 20%;
    }
}


@media (min-width: 768px) {
    .container.header-menu {
        width: 770px;
    }
}

@media (min-width: 992px) {
    .container.header-menu {
        width: 800px;
    }
}

@media (min-width: 1200px) {
    .container.header-menu {
        width: 920px;
    }
}

.container.content-container {
    /*background-color: #f9f6fa;*/
}

.content-smart-wrapper {
    position: relative;
    width: 100%;
    margin: 0;
    float: left;
}

.content-smart-wrapper:before {
    margin-top: 100%;
    content: "";
    display: block;
}

.content-smart-wrapper.ratio-3-2:before {
    margin-top: 66.66%;
    content: "";
    display: block;
}

.content-smart-wrapper-inside {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

div figure figcaption h2 {
    text-align: left;
}

div figure .figure-preview {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    transition: transform 0.35s;

    backface-visibility: hidden;
    opacity: 1;
}

div figure:hover .figure-preview {
    opacity: 0.4;
    transform: translate3d(0,-25%,0);
}

div figure figcaption p {
    /*height: 80px;
    width: 100%;*/
    vertical-align: middle;
    /*padding: 0 30px !important;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

    div figure figcaption p span {
        font-size: 14px;
        display: table-cell;
        vertical-align: middle;
        text-align: left;
    }


    form.base-form {
        display: block;
        float: none;
        overflow: hidden;
        padding: 50px;
    }

@media (min-width: 768px) {
    form.base-form {
        padding: 50px;
    }
}

@media (min-width: 992px) {
    form.base-form {
        padding: 50px 50px;
    }
}

@media (min-width: 1200px) {
    form.base-form {
        padding: 50px 200px;
    }
}

form.base-form .group {
    position: relative;
    margin-bottom: 45px;
}

form.base-form input, form.base-form textarea {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
    background-color: transparent;
}

form.base-form textarea {
    height: 228px;
}

    form.base-form input:focus,
    form.base-form textarea:focus {
        outline: none;
    }

form.base-form label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

form.base-form input:focus ~ label, form.base-form input:valid ~ label,
form.base-form textarea:focus ~ label, form.base-form textarea:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

form.base-form .bar {
    position: relative;
    display: block;
    width: 100%;
}

    form.base-form .bar:before, form.base-form .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #5264AE;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    form.base-form .bar:before {
        left: 50%;
    }

    form.base-form .bar:after {
        right: 50%;
    }

form.base-form input:focus ~ .bar:before, form.base-form input:focus ~ .bar:after,
form.base-form textarea:focus ~ .bar:before, form.base-form textarea:focus ~ .bar:after {
    width: 50%;
}

form.base-form .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

form.base-form input:focus ~ .highlight,
form.base-form textarea:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

.g-recaptcha > div > div {
    margin: 0 auto;
}


.uptolike-buttons {
    text-align: center;
    margin: 50px auto;
}


.hurma-social {
    display: block;
    text-align: center;
    float: none;
    overflow: hidden;
    margin: 50px auto;
}

.hurma-social a.hurma-social-link {
    display: inline-block;
    width: 63px;
    height: 36px;
    background-position: top center;
    background-repeat: no-repeat;
}

    .hurma-social a.hurma-social-link.vk {
        background-image: url('../images/vk-soc.png');
    }

    .hurma-social a.hurma-social-link.fb {
        background-image: url('../images/fb-soc.png');
    }

    .hurma-social a.hurma-social-link.tw {
        background-image: url('../images/tw-soc.png');
    }

.hurma-social a.hurma-social-link:hover {
    background-position: bottom center;
}