Уважаемый пользователь федерального портала проектов нормативных правовых актов,
<br /><br />
Мы получили запрос регистрации учетной записи. Для завершения операции перейдите по нижеприведенной ссылке:
<br /><br />
<a href="[url]">[url]</a>
<br /><br />
Данное письмо сформировано автоматически. Не следует отвечать на него.
<br/><br/>
По вопросам технической поддержки портала <a href="http://regulation.gov.ru">regulation.gov.ru</a> обращайтесь по телефонам:<br />
8 (499) 550 2965 - для звонков из Москвы,<br />
8 (800) 200 9369 - для звонков из субъектов Российской Федерации;<br />
или отправьте заявку на адрес электронной почты: <a href="mailto:support@pba.su">support@pba.su</a>
<br /><br />
-------------------------------------------------------------------
<br /><br />
С уважением, <br />
служба технической поддержки портала <a href="http://regulation.gov.ru">regulation.gov.ru</a>
