@model List<WebUI.Areas.Public.Models.CategoryItemVm>

@if (Model.Any())
{
    <div class="row">
        @{
            foreach (var item in Model)
            {
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 col-centered">
                    <figure class="effect-goliath">
                        <img src="/Files/GetImage?id=@(item.ImageId)&width=285&height=420" alt="@item.Desciption" />
                        <figcaption>
                            <h2>@item.Title</h2>

                            <p>@item.Desciption</p>

                            <a href="@Url.Action("Category", "Content", new { id = item.Id })">Подробнее</a>
                        </figcaption>
                    </figure>
                </div>
            }
        }
    </div>
}
