@model List<WebUI.Areas.Public.Models.ContentItemVm>

@if (Model.Any())
{
    <div class="row row-list">
        @{
            foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col-centered col-list">
                    <div class="content-smart-wrapper ratio-3-2">
                        <div class="content-smart-wrapper-inside">
                            <figure class="effect-zoe">
                                <div class="figure-preview" style="background-image: url(/Files/GetImage?id=@(item.ImageId)&width=640&height=480)"></div>
                                <figcaption>
                                    <h2>@item.Title.Split(' ')[0]<span>@item.Title.Substring(item.Title.Split(' ')[0].Length)</span></h2>
                                    <p class="description">@item.Desciption</p>
                                    <a href="@Url.Action("Read", "Content", new {id = item.Id})">Подробнее</a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
}
