@model WebUI.Areas.Public.Models.ContentPageViewModel

@{
    ViewBag.Title = Model.ContentItem.Title;
}

<div class="container content-container" id="home-page-content">
    @Html.Partial("_ContentItem", Model.ContentItem)
</div>

<style>
    .btn.btn-default.btn-form-submit {
        background-image: none;
        box-shadow: none;
        border: 2px solid @Model.ThemeColor !important;
        color: @Model.ThemeColor;
        background-color: transparent;
        padding: 10px 12px;
    }
    .btn.btn-default.btn-form-submit:focus, .btn.btn-default.btn-form-submit:hover {
        background-color: @Model.ThemeColor !important;
        color: #fff0f5;
    }
</style>
